In [6]:
import numpy as np
import pandas as pd

In [7]:
#Question 2 and 3
data = {'Evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'],'Hp':[45,39,44,45],'Name':['Bulbasaur','Charmander','Squirtle','Caterpie'],'Pokidor':['yes','no','yes','no'],'Type':['grass','fire','water','bug']}
pokemon = pd.DataFrame(data)
pokemon

    Evolution  Hp        Name Pokidor   Type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

In [9]:
#Question 4
rearranged = pokemon.iloc[:,[2,4,1,0,3]]
rearranged

         Name   Type  Hp   Evolution Pokidor
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [10]:
#Question 5
pokemon['Place'] = ['Sugut','Manel','Jopy','Marel']
pokemon

    Evolution  Hp        Name Pokidor   Type  Place
0     Ivysaur  45   Bulbasaur     yes  grass  Sugut
1  Charmeleon  39  Charmander      no   fire  Manel
2   Wartortle  44    Squirtle     yes  water   Jopy
3     Metapod  45    Caterpie      no    bug  Marel

In [15]:
#Question 6
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Evolution  4 non-null      object
 1   Hp         4 non-null      int64
 2   Name       4 non-null      object
 3   Pokidor    4 non-null      object
 4   Type       4 non-null      object
 5   Place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 324.0+ bytes